<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: headFragment(title='Add My Car')"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col s10">
            <h3>Добавить мой автомобиль</h3>
            <form th:if="${@accountService.isAuthenticated()}" th:action="@{/addMyCar}" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <label th:for="carNum-field">номер автомобился<br>
                        </label><br>
                        <input id="carNum-field" placeholder="о777оо77" name="carNum" type="text"
                               required>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label th:for="regNum-field">номер свидетельства о регистрации<br>
                        </label><br>
                        <input id="regNum-field" placeholder="1616111222" name="regNum" type="text"
                               required>
                        <br>
                    </div>
                </div>
                <button class="waves-effect green accent-2 btn">Добавить
                    <i class="material-icons right">send</i>
                </button>
                <br>
                <ol class="collection">
                    <li class="collection-item" th:each="car : ${cars}">
                        <a
                                data-th-href="@{addMyCar/{carNumber} (carNumber=${car.carNumber}) }">
                            <span th:text="${car.carNumber}"></span>
                            <span th:text="${car.regNumber}"></span>
                        </a>
                    </li>
                </ol>

            </form>
        </div>
    </div>
</div>
</body>
</html>