<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список штрафов :</title>
</head>
<body>
<form data-th-action="@{/all-fines}">
    <!--<label for="carNum-field">Введите номер автомобиля </label><br>-->
    <!--<input id="carNum-field" name="carNum" type="search" data-th-value="${carNum}">-->
    <!--<br>-->
    <!--<label for="regNum-field">Введите регистрационный номер </label><br><br>-->
    <!--<input id="regNum-field" name="regNum" type="search" data-th-value="${regNum}">-->

    <!--<button>Проверить</button>-->
</form>
<ul>
    <li th:each="fine : ${fines}">
        <a th:href="@{/{carNum}(carNum=${fine.carNum})}"></a>

            <span th:text="${fine.carNum}"></span>
            <span th:text="${fine.regNum}"></span>
            <span th:text="${fine.dateOfFine}"></span>
            <span th:text="${fine.info}"></span>
            <span th:text="${fine.price}"></span>

    </li>
</ul>

</body>
</html>