<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список штрафов :</title>

    <link href="@{https://fonts.googleapis.com/icon?family=Material+Icons}"
          rel="stylesheet">
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css}">


</head>
<body>
<form th:action="@{/}">
    <div th:class="container">
        <div class="row">
            <div class="col s10">
                <label th:for="carNum-field">Введите номер автомобиля </label><br>
                <input id="carNum-field" name="carNum" type="search" th:value="${carNum}">
                <br>
                <label th:for="regNum-field">Введите регистрационный номер </label><br><br>
                <input id="regNum-field" name="regNum" th:type="search" th:value="${regNum}">
                <!--<label for="region-field"></label>-->
                <!--<select id="region-field" th:name="region">-->
                <!--<option th:value="16">16</option>-->
                <!--<option th:value="116">116</option>-->
                <!--<option th:value="716">716</option>-->
                <!--</select>-->
                <button class="waves-effect blue accent-2 btn">Проверить</button>
                <ol>
                    <li th:each="fine : ${fines}">
                        <a th:href="@{/{carNum}(carNum=${fine.carNum})}"></a>
                        <a th:href="@{/{regNum}(regNum=${fine.regNum})}"></a>
                        <span th:text="${fine.dateOfFine}"></span>
                        <span th:text="${fine.info}"></span>
                        <span th:text="${fine.price}"></span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</form>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{js/materialize.min.js}"></script>
</body>
</html>