<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="fragments/layout :: headFragment(title='Поиск штрафов')"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col s10">
            <h1> Поиск штрафов </h1>
            <form data-th-action="@{/}">
                <label for="carNum-field">Введите номер автомобиля </label><br>
                <input id="carNum-field" name="carNum" type="search" th:value="${carNum}">
                <br>
                <label for="regNum-field">Введите регистрационный номер </label><br>
                <input id="regNum-field" name="regNum" type="search" th:value="${regNum}">
                <button class="waves-effect waves-light btn">Проверить</button>
            </form>

            <ol>
                <li th:each="fine : ${fines}">
                    <a th:href="@{/{carNum}(carNum=${fine.carNum})}"></a>
                    <a th:href="@{/{regNum}(regNum=${fine.regNum})}"></a>
                    <span th:text="${fine.dateOfFine}"></span>
                    <span th:text="${fine.info}"></span>
                    <span th:text="${fine.price}"></span>
                </li>
            </ol>
            <a data-th-if="${@accountService.hasRole('ADMIN')}"
               data-th-href="@{/index/login}" class="waves-effect waves-light btn">Login</a>
        </div>
    </div>
</div>
<div data-th-include="fragments/layout :: scriptFragments" data-th-remove="tag"></div>

</body>
</html>