<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: headFragment(title='Регистрация')"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col s10">
            <h3>User Registration Form</h3>
            <form th:action="@{/registration}" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <label th:for="username-field">Username<br>
                        </label><br>
                        <input id="username-field" placeholder="vasya777" name="username" type="text"
                               required>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label th:for="eMail-field">E-mail<br>
                        </label><br>
                        <input id="eMail-field" placeholder="example123@mail.ru" name="eMail" type="email"
                               required>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label th:for="password-field">Password<br>
                        </label><br>
                        <input id="password-field" placeholder="*********" name="password" type="password"
                               required>
                        <br>
                    </div>
                </div>
                <button class="waves-effect blue accent-2 btn">Зарегистрироваться
                    <i class="material-icons right">send</i>
                </button>

            </form>
        </div>
    </div>
</div>
</body>
</html>