<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="fragments/layout :: headFragment(title='Полный список')"></head>
<body>
<form data-th-action="@{/all-fines}">
    <ol>
        <li th:each="fine : ${fines}">
            <a th:href="@{/{carNum}(carNum=${fine.carNum})}"></a>
            <span th:text="${fine.carNum}"></span>
            <span th:text="${fine.regNum}"></span>
            <span th:text="${fine.dateOfFine}"></span>
            <span th:text="${fine.info}"></span>
            <span th:text="${fine.price}"></span>
        </li>
    </ol>
    <a data-th-if="${@accountService.hasRole('ADMIN')}"></a>
</form>
<div data-th-include="fragments/layout :: scriptFragments" data-th-remove="tag"></div>
</body>
</html>